In [39]:
# list

my_list = [10,20,30,40]

# access element

my_list[3]

# modify alement

my_list[3] = 50
my_list[3]
my_list

# add element
my_list.append(60)
my_list[4] 

# remove element
my_list.remove(60)
my_list

my_list.pop(1)
my_list

# del with out return delated element 
# pop will return delate element


# accessing

del my_list[1]
my_list.pop(1)
my_list

[10]

In [125]:
# tuple

my_tuple = (1,2,3,4,5,'python',4.6)
# accessing tuple it is immutable

# length = len(my_tuple)
# last_ele = my_tuple[length-1]
# print(last_ele)

# accessing last element

print(my_tuple[1])


my_tuple[::-1]

2

(4.6, 'python', 5, 4, 3, 2, 1)

In [117]:
# dictionary

my_dict = {"name":"bhaskar","salary":30000000,"designation":"Ai engineer"}
my_2dict = dict(name = 'bhaskar', sal= 3000000000,designation = 'ml engineer')



# accessing
my_dict['name']

# modifying
my_dict['name'] = 'koilada'
my_dict['name']
my_2dict['name'] = "koilada Bhaskara rao"
my_2dict['name']
# adding key_values pairs

my_dict['Profession'] = 'Software Engineer'
my_dict

# remove key_value pairs

my_dict.pop('name')
my_dict['name'] = 'bhaskar k'
my_dict['name']

del my_dict['name']
my_dict

{'salary': 30000000,
 'designation': 'Ai engineer',
 'Profession': 'Software Engineer'}

In [143]:
# set
# no indexing

my_set = {1,2,3,4,4,'python',4.5}
my_set

# accessing

for i in my_set:
    print(i)

# adding

my_set.add(1.3)
my_set

# removing
my_set.remove(1.3)
my_set

# set operation

another_set = {222,333,4444,5555}
my_set.union(another_set)

python
1
2
3
4
4.5

{1, 2, 222, 3, 333, 4, 4.5, 4444, 5555, 'python'}

In [3]:
# tuple excercises
# access first and last elements

def first_last_elements(nums):
    first_index_val = nums[0]
    last_index_val = nums[-1]
    return (first_index_val,last_index_val)

nums = (2,3,4,56,6)
print(first_last_elements(nums))

(2, 6)

In [9]:
# concatenating tuple
def concatenate_tup(tup1,tup2):
    result = tup1+tup2
    return result
tup1 = (1,2,3)
tup2 = (4,5,6)
print(concatenate_tup(tup1,tup2))

(1, 2, 3, 4, 5, 6)

In [15]:
# cheching for element
def check_element(tup,element):
    for i in tup:
        if i == element:
            return True
    return False
    
print(check_element((1, 2, 3, 4, 5), 3))  # Output: True
print(check_element((1, 2, 3, 4, 5), 6))  # Output: False

True
False

In [41]:
# find index of element
def find_index(tup,element):
    for i in range (len(tup)):
        if tup[i] == element:
            return i
    return -1
        
tup = (3,1,3,4,3)
print(find_index(tup,3))

0

In [23]:
my_tup = (1,2,34)
val = len(my_tup)
print(val)

3

In [45]:
# unpacking tuple
def unpack_tup(tup):
    a,b,c = tup
    print(f"a: {a}, b: {b},c: {c}")
tup = (1,3,4)
unpack_tup(tup)

a: 1, b: 3,c: 4

In [53]:
# convert list to tuple

def list_to_tuple(lst):
    result = tuple(lst)
    print(result)
lst = [1,3,4]
list_to_tuple(lst)

(1, 3, 4)

In [65]:
# reversing the tuple
def reverse_tuple(tup):
    reversed_tuple = ()
    for item in tup:
        reversed_tuple = (item,) + reversed_tuple
    return reversed_tuple

print(reverse_tuple((1, 2, 3, 4, 5)))  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)