In [3]:
num1 = 9
num2 = num1
print(num1,num2)
print("\num1 points to :" id(num1))
print("num2 points to :" id(num2))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3586265982.py, line 4)

In [12]:
num1 = 9
num2 = num1
print("num1:",num1,'num2:',num2)
print("num1 points to :", id(num1))
print("num2 points to :", id(num2))
num2 = 10
print("num1:",num1,'num2:',num2)
print("\num1 points to :", id(num1))
print("num2 points to :", id(num2))

num1: 9 num2: 9
num1 points to : 4351597160
num2 points to : 4351597160
num1: 9 num2: 10

um1 points to : 4351597160
num2 points to : 4351597192

In [16]:
num1 = [9,5,5,6]
num2 = num1
print("num1:",num1,'num2:',num2)
print("num1 points to :", id(num1))
print("num2 points to :", id(num2))
num2.append(10)
num2.insert(1,77)
print("num1:",num1,'num2:',num2)
print("num1 points to :", id(num1))
print("num2 points to :", id(num2))

num1: [9, 5, 5, 6] num2: [9, 5, 5, 6]
num1 points to : 4699336896
num2 points to : 4699336896
num1: [9, 77, 5, 5, 6, 10] num2: [9, 77, 5, 5, 6, 10]
num1 points to : 4699336896
num2 points to : 4699336896