In [39]:
# list

my_list = [10,20,30,40]

# access element

my_list[3]

# modify alement

my_list[3] = 50
my_list[3]
my_list

# add element
my_list.append(60)
my_list[4] 

# remove element
my_list.remove(60)
my_list

my_list.pop(1)
my_list

# del with out return delated element 
# pop will return delate element


# accessing

del my_list[1]
my_list.pop(1)
my_list

[10]

In [125]:
# tuple

my_tuple = (1,2,3,4,5,'python',4.6)
# accessing tuple it is immutable

# length = len(my_tuple)
# last_ele = my_tuple[length-1]
# print(last_ele)

# accessing last element

print(my_tuple[1])


my_tuple[::-1]

2

(4.6, 'python', 5, 4, 3, 2, 1)

In [117]:
# dictionary

my_dict = {"name":"bhaskar","salary":30000000,"designation":"Ai engineer"}
my_2dict = dict(name = 'bhaskar', sal= 3000000000,designation = 'ml engineer')



# accessing
my_dict['name']

# modifying
my_dict['name'] = 'koilada'
my_dict['name']
my_2dict['name'] = "koilada Bhaskara rao"
my_2dict['name']
# adding key_values pairs

my_dict['Profession'] = 'Software Engineer'
my_dict

# remove key_value pairs

my_dict.pop('name')
my_dict['name'] = 'bhaskar k'
my_dict['name']

del my_dict['name']
my_dict

{'salary': 30000000,
 'designation': 'Ai engineer',
 'Profession': 'Software Engineer'}

In [143]:
# set
# no indexing

my_set = {1,2,3,4,4,'python',4.5}
my_set

# accessing

for i in my_set:
    print(i)

# adding

my_set.add(1.3)
my_set

# removing
my_set.remove(1.3)
my_set

# set operation

another_set = {222,333,4444,5555}
my_set.union(another_set)

python
1
2
3
4
4.5

{1, 2, 222, 3, 333, 4, 4.5, 4444, 5555, 'python'}

In [23]:
# dict excercises

# frequency count
def frequency_count(lst):
    freq_dict = {}
    for i in lst:
        if i in freq_dict:
            freq_dict[i] += 1
        else:
            freq_dict[i] = 1
    return freq_dict

lst = [1,1,2,2,2,3,3,3,3,4,5]
print(frequency_count(lst))

{1: 2, 2: 3, 3: 4, 4: 1, 5: 1}

In [19]:
# find most frequent element
def most_frequent(lst):
    freq_dict = frequency_count(lst)     #i stored frequncy_count function in freq_dict
    max_count = max(freq_dict.values())
    for key , value in freq_dict.items():
        if max_count == value:
            return key,value
            
lst = ['a','b','b','c','a','a']

lst2 = [1,1,2,2,2,3,3,3,3,4,5,5,5,5,5,5,5]
print(most_frequent(lst2))

(5, 7)

In [35]:
# invert dict

def inverted_dict(d):
    inverted_dict = {}
    for k, v in d.items():
        inverted_dict[v] = k
    return inverted_dict

print(inverted_dict({'b': 2, 'c': 3, 'a':4,'a': "1" }))


# short code
def invert_dict(d):
    return { v: k for k ,v in d.items()}
    
print(invert_dict({'a': 1, 'b': 2, 'c': 3}))
# Output: {1: 'a', 2: 'b', 3: 'c'}

{2: 'b', 3: 'c', '1': 'a'}
{1: 'a', 2: 'b', 3: 'c'}

In [39]:
def merge_dicts(d1,d2):
    merge_dict = d1.copy()
    for key , value in d2.items():
        if key in merge_dict:
            merge_dict[key] += value
        else:
            merge_dict[key] = value
    return merge_dict

print(merge_dicts({'a': 1, 'b': 2}, {'b': 66, 'c': 4}))
# Output: {'a': 1, 'b': 5, 'c': 4}

{'a': 1, 'b': 68, 'c': 4}

In [54]:

# understanding pending

def group_anagrams(words):
    anagram_dict = {}
    for word in words:
        sorted_word = ''.join(sorted(word))msvb
        print(sorted_word)
        if sorted_word in anagram_dict:
            anagram_dict[sorted_word].append(word)
        else:
            anagram_dict[sorted_word] = [word]
    return anagram_dict

# Example usage
print(group_anagrams(['eat', 'tea', 'tan', 'ate', 'nat', 'bat']))
# Output: {'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

aet
aet
ant
aet
ant
abt
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

In [60]:
# check for duplicates in dict

def has_duplicate(d):
    return len(d.values()) != len(set(d.values()))

d = {'a':1, 'b':2,'c':1}
print(has_duplicate(d))

True

In [64]:
# sum_values in dict
def sum_values(d):
    return sum(d.values())

print(sum_values({'a': 10, 'b': 20, 'c': 3040499454964}))

3040499454994

In [68]:
# find key with max value
def max_value_key(d):
    return max(d, key = d.get)\

print(max_value_key({'a': 3556, 'b': 5, 'c': 2}))

a

In [74]:
# count char in string

def count_charecter(d):
    char_count = {}
    for i in d:
        if i in char_count:
            char_count[i] += 1
        else:
            char_count[i] = 1
    return char_count

d = "hellllllo"
print(count_charecter(d))

{'h': 1, 'e': 1, 'l': 6, 'o': 1}