In [39]:
# list

my_list = [10,20,30,40]

# access element

my_list[3]

# modify alement

my_list[3] = 50
my_list[3]
my_list

# add element
my_list.append(60)
my_list[4] 

# remove element
my_list.remove(60)
my_list

my_list.pop(1)
my_list

# del with out return delated element 
# pop will return delate element


# accessing

del my_list[1]
my_list.pop(1)
my_list

[10]

In [125]:
# tuple

my_tuple = (1,2,3,4,5,'python',4.6)
# accessing tuple it is immutable

# length = len(my_tuple)
# last_ele = my_tuple[length-1]
# print(last_ele)

# accessing last element

print(my_tuple[1])


my_tuple[::-1]

2

(4.6, 'python', 5, 4, 3, 2, 1)

In [117]:
# dictionary

my_dict = {"name":"bhaskar","salary":30000000,"designation":"Ai engineer"}
my_2dict = dict(name = 'bhaskar', sal= 3000000000,designation = 'ml engineer')



# accessing
my_dict['name']

# modifying
my_dict['name'] = 'koilada'
my_dict['name']
my_2dict['name'] = "koilada Bhaskara rao"
my_2dict['name']
# adding key_values pairs

my_dict['Profession'] = 'Software Engineer'
my_dict

# remove key_value pairs

my_dict.pop('name')
my_dict['name'] = 'bhaskar k'
my_dict['name']

del my_dict['name']
my_dict

{'salary': 30000000,
 'designation': 'Ai engineer',
 'Profession': 'Software Engineer'}

In [143]:
# set
# no indexing

my_set = {1,2,3,4,4,'python',4.5}
my_set

# accessing

for i in my_set:
    print(i)

# adding

my_set.add(1.3)
my_set

# removing
my_set.remove(1.3)
my_set

# set operation

another_set = {222,333,4444,5555}
my_set.union(another_set)

python
1
2
3
4
4.5

{1, 2, 222, 3, 333, 4, 4.5, 4444, 5555, 'python'}

In [147]:
# excercises on list

# sum of arr

def sum_elements(nums):
    return sum(nums)
array = [1,3,3,4,5,6,7,8,9,9,100]
print(sum_elements(array))

155

In [149]:
# reverse arr

def reverse_arr(nums):
    return nums[::-1]


nums = [1,3,4,5,'python',4.66]
print(reverse_arr(nums))

[4.66, 'python', 5, 4, 3, 1]

In [153]:
# find max number

def find_max(nums):
    return max(nums)


nums = [1,3,4,5,4.66]
print(find_max(nums))

5

In [165]:
# list of even numbers 0 to 20

def even_numbers():
    even_number = []
    for i in range(2,21):
        if i % 2 == 0:
            even_number.append(i)
    return even_number
print(even_numbers())

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [171]:
# sum_of list

def sum_list(nums):
    count = 0
    for i in nums:
        count += i
    return count

nums = [1,1,1,1,1000]

print(sum_list(nums))

1004

In [175]:
# find smallest element
def smallest_element(nums):
    smallest = nums[0]
    for i in nums:
        if i < smallest:
            smallest = i
    return smallest

nums = [0.5,1,1,1,1000]

print(smallest_element(nums))

0.5

In [181]:
# count occurence of element    

def count_occurence(nums,element):
    count = 0
    for i in nums:
        if i == element:
            count += 1
    return count

nums = [1,1,1,3,3,3,4,4,4,5,5,5,5,5,5,5,5]
print(count_occurence(nums,1))

3

In [207]:
# remove_occurence of element
def count_occurence(nums,element):
    for i in nums:
        if i == element:
            nums.remove(i)
    return nums

# this is correct

def count_occurence2(nums,element):
    result = []
    for i in nums:
        if i != element:
            result.append(i)
            
    return result

    
nums = [1,1,1,3,3,3,4,4,4,5,5,5]
print(count_occurence(nums,5))

nums = [1,1,1,3,3,3,4,4,4,5,5,5]
print(count_occurence2(nums,4))

[1, 1, 1, 3, 3, 3, 4, 4, 4, 5]
[1, 1, 1, 3, 3, 3, 5, 5, 5]