In [39]:
# list

my_list = [10,20,30,40]

# access element

my_list[3]

# modify alement

my_list[3] = 50
my_list[3]
my_list

# add element
my_list.append(60)
my_list[4] 

# remove element
my_list.remove(60)
my_list

my_list.pop(1)
my_list

# del with out return delated element 
# pop will return delate element


# accessing

del my_list[1]
my_list.pop(1)
my_list

[10]

In [125]:
# tuple

my_tuple = (1,2,3,4,5,'python',4.6)
# accessing tuple it is immutable

# length = len(my_tuple)
# last_ele = my_tuple[length-1]
# print(last_ele)

# accessing last element

print(my_tuple[1])


my_tuple[::-1]

2

(4.6, 'python', 5, 4, 3, 2, 1)

In [117]:
# dictionary

my_dict = {"name":"bhaskar","salary":30000000,"designation":"Ai engineer"}
my_2dict = dict(name = 'bhaskar', sal= 3000000000,designation = 'ml engineer')



# accessing
my_dict['name']

# modifying
my_dict['name'] = 'koilada'
my_dict['name']
my_2dict['name'] = "koilada Bhaskara rao"
my_2dict['name']
# adding key_values pairs

my_dict['Profession'] = 'Software Engineer'
my_dict

# remove key_value pairs

my_dict.pop('name')
my_dict['name'] = 'bhaskar k'
my_dict['name']

del my_dict['name']
my_dict

{'salary': 30000000,
 'designation': 'Ai engineer',
 'Profession': 'Software Engineer'}

In [143]:
# set
# no indexing

my_set = {1,2,3,4,4,'python',4.5}
my_set

# accessing

for i in my_set:
    print(i)

# adding

my_set.add(1.3)
my_set

# removing
my_set.remove(1.3)
my_set

# set operation

another_set = {222,333,4444,5555}
my_set.union(another_set)

python
1
2
3
4
4.5

{1, 2, 222, 3, 333, 4, 4.5, 4444, 5555, 'python'}