In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
fruits = ["apple","banana","grape"]
for fruit in fruits:
    print(fruit)
print(fruits)

apple
banana
grape
['apple', 'banana', 'grape']

In [7]:
# sample while loop
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [10]:
# while loop with break

i = 0
while True:
    print(i)
    i += 1
    if i == 5:
        break

0
1
2
3
4

In [6]:
# sample function
def greet(name):
    print(f"Hello {name}")
greet("bhaskar")

Hello bhaskar

In [4]:
def greet():
    print("hello koilada")
greet()

hello koilada

In [9]:
# nested loop

for i in range(3):
    for j in range(3):
        print(f"i: {i}, j:{j}")
        print(i*j)

i: 0, j:0
0
i: 0, j:1
0
i: 0, j:2
0
i: 1, j:0
0
i: 1, j:1
1
i: 1, j:2
2
i: 2, j:0
0
i: 2, j:1
2
i: 2, j:2
4

In [16]:
# looping over dictionary

student_scores = {"bhaskar":99,"dam":200,"divyank":678}
for student,scores in student_scores.items():
    print(f"{student}: {scores}")

bhaskar: 99
dam: 200
divyank: 678

In [21]:
# while loop with continue
i = 0

while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [22]:
# while loop with else
i = 0

while i < 5:
    print(i)
    i += 1
else:
    print("loop ended")

0
1
2
3
4
loop ended

In [32]:
# functions with multiple arguments

def add(a,b):
    return a * b

print(add(99,909))

89991

In [35]:
def calculate(a,b):
    return a + b, a-b, a*b, a/b
sum,difference,product,quotient = calculate(10,2)

print(f"sum: {sum},difference : {difference},product:{product},quotient:{quotient}")

sum: 12,difference : 8,product:20,quotient:5.0

In [36]:
# advance for loop list comprehensions
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# loop with enumerate
fruits = ["apple","banana","grapes"]
for index,fruit in enumerate(fruits):
    print(f"{index}:{fruit}")

0:apple
1:banana
2:grapes

In [38]:
# while loop simulating do while

i = 0
while True:
    print(i)
    i += 1
    if i >= 5:
        break

0
1
2
3
4

In [46]:
# complex condition
i = 0
while i < 100:
    print(i)
    if i % 10 == 0:
        print(f"{i} is divisible by 10")
    i += 9

0
0 is divisible by 10
9
18
27
36
45
54
63
72
81
90
90 is divisible by 10
99

In [47]:
# lambda function
add = lambda a,b: a+b
print(add(3,4))

7

In [48]:
add = lambda a, b : a*b
print(add(5,6))

30

In [2]:
print("test")

complete